
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: calc(100% - 100px);
    font-size: 24px;
}

.idg-view-node:hover {
    border: 1px solid red !important;
}

.idg-preview {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.idg-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    border-bottom: 1px solid #1a1d23;
    padding-left: 10px;
    padding-right: 10px;
}

.idg-toolbar-left, .idg-toolbar-right {
    display: flex;
}

.idg-toolbar-icon {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 16px;
}

.idg-space {
    display: flex;
    flex-grow: 1;
}

.idg-tool-window {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    max-height: 360px;
    flex-direction: column;
    background: #292B32;
}

.idg-tool-bar {
    display: flex;
    min-height: 24px;
    border-top: 1px solid #1a1d23;
    border-bottom: 1px solid #1a1d23;
    flex-direction: row;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    justify-content: space-between;
    user-select: none;
}

.idg-tool-window-content {
    height: 312px;
    display: flex;
    overflow-y: hidden;
    width: 100%;
}

.terminal-base {
    max-width: unset !important;
}

/* tab */
.idg-tab-container {
    display: flex;
    height: 24px;
    flex-direction: row;
}

.idg-tab {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 10px;
}

.idg-tab .title {
    cursor: default;
}

.idg-tab-active {
    background: #4d78cc;
    color: white;
}

.pg-viewer-wrapper {
    width: 100%;
}

.react-contextmenu-wrapper {
    display: inline-block;
}

.react-contextmenu {
    background: #2d2f31;
    border-radius: 2px;
    box-shadow: 0 2px 8px #000;
}

.react-contextmenu-item {
    font-size: 12px;
    line-height: 1.1em;
    padding: 0.8em 12px;
    min-width: 120px;
    color: #C0C0B3;
}

.react-contextmenu-item:hover {
    background: #0f87f0;
    color: white;
}

.react-contextmenu-item--divider {
    padding: .5em 0 0 !important;
    margin-bottom: .5em;
    width: 100%;
    border-bottom: 1px solid #bbb;
    opacity: 0.4;
}

/* Network */
.idg-flex {
    display: flex !important;
}

.idg-network-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding: 6px 10px 4px 10px;
    cursor: default;
}

.idg-network-item-active {
    background: #0b3b69;
}
